/* ================= GLOBAL ================= */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

/* CONTENEUR GLOBAL */
.container,
.dashboard-container,
.rapport-page,
.historique-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    overflow: hidden;
}